@font-face {
    font-family: 'SFProDisplay';
    src: local('SFProDisplay Light'), local('SFProDisplay-Light'),
        url('SFProDisplay-Light.woff2') format('woff2'),
        url('SFProDisplay-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFMono';
    src: local('SFMono Semibold'), local('SFMono-Semibold'),
        url('SFMono-Semibold.woff2') format('woff2'),
        url('SFMono-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFProDisplay';
    src: local('SFProDisplay Semibold'), local('SFProDisplay-Semibold'),
        url('SFProDisplay-Semibold.woff2') format('woff2'),
        url('SFProDisplay-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFMono';
    src: local('SFMono Regular'), local('SFMono-Regular'),
        url('SFMono-Regular.woff2') format('woff2'),
        url('SFMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFProDisplay';
    src: local('SFProDisplay Bold'), local('SFProDisplay-Bold'),
        url('SFProDisplay-Bold.woff2') format('woff2'),
        url('SFProDisplay-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFProDisplay';
    src: local('SFProDisplay Regular'), local('SFProDisplay-Regular'),
        url('SFProDisplay-Regular.woff2') format('woff2'),
        url('SFProDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFMono';
    src: local('SFMono Light'), local('SFMono-Light'),
        url('SFMono-Light.woff2') format('woff2'),
        url('SFMono-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

