body {
  margin: 0;
  font-family: "SFProDisplay";
  font-size: 14px;
}
*,
*::before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4,h5,h6,p {
  margin: 0;
}
a {
  text-decoration: none;
  color: #000;
}
.container {
  width: 100%;
  max-width: calc(1024px + 64px);
  padding: 0 32px;
  margin: 0 auto;
}
.container--large {
  width: 100%;
  max-width: calc(1456px + 64px);
  padding: 0 32px;
  margin: 0 auto;
}
@media screen and (max-width: 550px) {
  .container,
  .container--large {
    max-width: calc(1024px + 32px);
    padding: 0 16px;
  }
}
.section {
  margin-bottom: 216px;
}
@media screen and (max-width: 768px) {
  .section {
    margin-bottom: 180px;
  }
}
@media screen and (max-width: 550px) {
  .section {
    margin-bottom: 96px;
  }
}
.section__subtitle {
  font-weight: 300;
  font-size: 24px;
  line-height: 36px;
  margin-top: 24px;
  color: #333;
}
.section__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;

  color: #DADAE2;

  margin-bottom: 64px;
}
@media screen and (max-width: 768px) {
  .section__title {
    margin-bottom: 24px;
  }
}
@media screen and (max-width: 550px) {
  .section__title {
    font-size: 32px;
    line-height: 1;
  }
}
.section__icon {
  margin-top: 30px;
}
/* Header */
/* =============== */
.header,
.footer {
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__logo,
.header__logo {
  font-family: "Source Code Pro";
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  color: #000;
}
.nav{
  font-size: 16px;
  line-height: 16px;
  display: flex;
  align-items: center;
}
.nav__link {
  display: inline-block;
  vertical-align: top;
  margin: 0 15px;
  position: relative;
  font-weight: 500;

  color: #000;
  text-decoration: none;
  transition: color .1s linear;
}
@media screen and (max-width: 450px) {
  .nav__link {
    margin: 0 10px;
  }
}
.nav__link:hover{
  color: #2C5EF6;
}
.nav__link svg {
  width: 18px;
}
/* INTRO */
/* ================== */
.intro {
  margin: 216px 0;
}
@media screen and (max-width: 550px) {
  .intro {
    margin: 128px 0;
  }
}
.intro__inner {
  max-width: 540px;
}
.intro__title {
  color: #000;
  font-size: 74px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 32px;
  display: flex;
  align-items: flex-start;
}
@media screen and (max-width: 550px) {
  .intro__title {
    font-size: 56px;
    margin-bottom: 18px;
  }
}
.intro__title svg {
  margin-left: 18px;
  width: 32px;
  margin-top: 4px;
}
@media screen and (max-width: 550px) {
  .intro__title svg {
    margin-top: -4px;
  }
}
.intro__subtitle {
  font-weight: 300;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 40px;
  max-width: 540px;
}
@media screen and (max-width: 575px) {
  .intro__subtitle br {
    display: none;
  }
}
@media screen and (max-width: 550px) {
  .intro__subtitle {
    font-size: 20px;
    margin-bottom: 24px;
  }
}
@media screen and (max-width: 375px) {
  .intro__subtitle {
    max-width: 312px;
  }
}
.intro__field {
  display: flex;
  height: 56px;
}
@media screen and (max-width: 550px) {
  .intro__field {
    height: inherit;
    flex-direction: column;
    align-items: flex-start;
  }
}
.intro__field-button {
  border: 1px solid rgba(51, 51, 51, 0.3);
  border-left: none;
  border-radius: 0 6px 6px 0;

  font-weight: 600;
  font-size: 18px;
  line-height: 16px;
  padding: 18px 16px 18px 20px;
  width: 125px;

  color: #171717;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .2s ease-out;
  height: 56px;
}
@media screen and (max-width: 550px) {
  .intro__field-button {
    font-size: 16px;
    width: 110px;
    margin-top: 10px;
    border-radius: 6px;
    display: inline-flex;
    border-left: 1px solid rgba(51, 51, 51, 0.3);
  }
}
.intro__field-button svg:nth-child(1) {
  display: none;
  width: 18px;
  flex: none;
}
.intro__field-button.copied svg:nth-child(1) { display: block; }
.intro__field-button.copied svg:nth-child(2) { display: none; }
.intro__field-button:not(.copied):hover {
  border-color: #2C5EF6;
  color: #2C5EF6;
}
.intro__field-button:not(.copied):active {
  border-color: rgba(51, 51, 51, 0.3);
  color: #171717;
}
.intro__field-button svg {
  width: 16px;
  margin-right: 12px;
}
.intro__field-text {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  background-color: #171717;
  font-family: 'SFMono';
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
  color: #fff;
  padding: 20px 24px;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 550px) {
  .intro__field-text {
    border-radius: 6px;
    display: inline-flex;
  }
}
/* Publishers */
/* ================== */
.section__title--black {
  color: #171717;
}
.publishers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
@media screen and (max-width: 950px) {
  .publishers {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
}
.publishers__item {
  border-radius: 20px;
  padding: 40px;

  background-color: #F5F5F7;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (max-width: 950px) {
  .publishers__item {
    padding: 48px 64px 48px 48px;
    flex-direction: row;
  }
}
@media screen and (max-width: 650px) {
  .publishers__item {
    flex-direction: column;
    padding: 32px 32px 40px 32px;
  }
}
.publishers__img {
  margin-top: 32px;
  width: 100%;
}
@media screen and (max-width: 950px) {
  .publishers__img {
    width: 100%;
    max-width: 226px;
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 650px) {
  .publishers__img {
    margin: 56px auto 0;
  }
}
@media screen and (max-width: 950px) {
  .publishers__content {
    max-width: 450px;
  }
}
@media screen and (max-width: 768px) {
  .publishers__content {
    max-width: 250px;
  }
}
@media screen and (max-width: 650px) {
  .publishers__content {
    max-width: 100%;
  }
}
.publishers__img img {
  display: block;
  margin: auto;
}
.publishers__item--data .publishers__img img {
  max-width: 216px;
}
.publishers__item--protect .publishers__img img {
  max-width: 165px;
}
.publishers__item--earn .publishers__img img {
  max-width: 226px;
}
@media screen and (max-width: 768px) {
  .publishers__section-title {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 550px) {
  .publishers__section-title {
    margin-bottom: 48px;
  }
}
.publishers__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
}
.publishers__title-br-mobile {
  display: none;
}
@media screen and (max-width: 550px) {
  .publishers__title-br-mobile {
    display: block;
  }
}
.publishers__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  color: #505050;

  margin-top: 16px;
}
.publishers__subtitle--br-375 {
  display: none;
}
@media screen and (max-width: 375px) {
  .publishers__subtitle--br-375 {
    display: block;
  }
}
@media screen and (max-width: 355px) {
  .publishers__subtitle--br-375 {
    display: none;
  }
}
/* Integrates */
/* =================== */
.integrate--title {
  margin-bottom: 0;
  color: #171717;
}
@media screen and (max-width: 550px) {
  .integrate--title {
    font-size: 32px;
    line-height: 40px;
    max-width: 235px;
  }
}
.integrate__subtitle {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5;
  color: #333;
  margin-top: 24px;
}
@media screen and (max-width: 990px) {
  .integrate__subtitle br {
    display: none;
  }
}
@media screen and (max-width: 405px) {
  .integrate__subtitle {
    max-width: 320px;
  }
}
@media screen and (max-width: 550px) {
  .integrate__subtitle {
    font-size: 20px;
    line-height: 32px;
    margin-top: 16px;
  }
}
.integrate__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
@media screen and (max-width: 767px) {
  .integrate__header {
    flex-direction: column;
    align-items: flex-start;
  }
}
.integrate__content {
  max-width: 620px;
  margin-right: 32px;
}
@media screen and (max-width: 767px) {
  .integrate__content {
    margin-right: 0;
  }
}
.integrate__icons {
  display: grid;
  grid-template-columns: repeat(2, 144px);
  grid-gap: 32px;
  flex: none;
}
@media screen and (max-width: 950px) {
  .integrate__icons {
    grid-gap: 20px;
  }
}
@media screen and (max-width: 767px) {
  .integrate__icons {
    margin-top: 40px;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px;
  }
}
.integrate__scheme {
  padding: 40px;
  background-color: #F5F5F7;
  border-radius: 20px;
  margin-top: 64px;
  position: relative;
}
@media screen and (max-width: 768px) {
  .integrate__scheme {
    padding: 24px;
  }
}
@media screen and (max-width: 550px) {
  .integrate__scheme {
    margin-top: 30px;
  }
}
@media screen and (max-width: 375px) {
  .integrate__scheme {
    margin: 30px -16px 0;
    width: calc(100% + 32px);
    border-radius: 0;
  }
}
.integrate__scheme-image {
  display: block;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .integrate__scheme-image {
    display: none;
  }
}
.integrate__scheme-image--mobile {
  display: none;
}
@media screen and (max-width: 768px) {
  .integrate__scheme-image--mobile {
    display: block;
    max-width: 343px;
    width: 100%;
    margin: auto;
  }
}
.integrate__text {
  width: 312px;
  position: absolute;
  top: 40px;
  right: 40px;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5;
  text-align: right;
  color: rgba(51, 51, 51, 0.3);
}
@media screen and (max-width: 768px) {
  .integrate__text {
    display: none;
  }
}
.integrate__icon-wrapper--prebid {
  margin-right: 32px;
}
.integrate__icon-wrapper--prebid img {
  width: 96px;
}
@media screen and (max-width: 374px) {
  .integrate__icon-wrapper--prebid {
    margin-right: 0;
  }
}
.integrate__icon-wrapper--index img {
  width: 108px;
}
@media screen and (max-width: 374px) {
  .integrate__icon-wrapper--index img {
    width: 110px;
  }
}
.integrate__icon-wrapper {
  position: relative;
  width: 144px;
  height: 144px;
  border: 1px solid #e7e7e7;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}
@media screen and (max-width: 767px) {
  .integrate__icon-wrapper {
    width: 100%;
  }
}
.integrate__icon-coming-soon {
  position: absolute;
  bottom: -12px;
  left: calc(50% - 43px);
  background-color: #fff;
  font-weight: 600;
  font-size: 10px;
  line-height: 2.4;
  letter-spacing: 1px;
  color: #9C9C9C;
  padding: 0 4px;
  text-transform: uppercase;
}
@media screen and (max-width: 374px) {
  .integrate__icon-coming-soon {
    letter-spacing: 0;
  }
}
/* HOOD */
/* ===================== */
.hood{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
@media screen and (max-width: 768px) {
  .hood {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 600px) {
  .hood {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 768px) {
  .hood__section-title {
    margin-bottom: 48px;
  }
}
@media screen and (max-width: 550px) {
  .hood__section-title {
    margin-bottom: 40px;
  }
}
.hood__item {
  border: 1px solid #fff;
  border-radius: 20px;
  padding: 32px 40px 32px 32px;

  background-color: #f5f5f7;
}
@media screen and (max-width: 768px) {
  .hood__item {
    display: flex;
    align-items: center;
  }
}
.hood__pic {
  width: 64px;
  height: 64px;
}
@media screen and (max-width: 768px) {
  .hood__pic {
    margin-right: 40px;
  }
}
.hood__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  margin-top: 24px;
  color: #171717;
}
@media screen and (max-width: 768px) {
  .hood__title {
    margin-top: 0;
  }
}
@media screen and (max-width: 360px) {
  .hood__title br {
    display: none;
  }
}
.hood__pic--server{
  width: 74px;
  height: 64px;
}
/* Community driven */
/* ====================== */
.community__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 64px;
}
@media screen and (max-width: 550px) {
  .community__header {
    margin-bottom: 40px;
  }
}
.community__content {
  max-width: 676px;
  margin-right: 24px;
}
@media screen and (max-width: 768px) {
  .community__content {
    max-width: initial;
    margin: 0;
  }
}
.community__subtitle {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5;
  color: #333;
  margin-bottom: 24px;
}
@media screen and (max-width: 550px) {
  .community__subtitle {
    font-size: 20px;
    margin-bottom: 16px;
  }
}
.community__title {
  margin-bottom: 24px;
}
@media screen and (max-width: 550px) {
  .community__title {
    margin-bottom: 16px;
  }
}
.community__descr {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.4;
  color: #505050;
}
.community__descr a {
  font-weight: 700;
  text-decoration: underline;
  color: #333;
  transition: color .3s ease-out;
}
.community__descr a:hover {
  color: #2C5EF6;
}
.community__descr p:not(:last-child) {
  margin-bottom: 16px;
}
.community__icon {
  border: 1px solid #e7e7e7;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 144px;
  height: 144px;
}
@media screen and (max-width: 768px) {
  .community__icon {
    display: none;
  }
}
.community__icon img {
  width: 80px;
  height: 40px;
}
.community__code {
  padding: 56px;
  margin-top: 64px;
  background-color: #F5F5F7;
  border-radius: 20px;
}
@media screen and (max-width: 750px) {
  .community__code {
    padding: 32px 24px;
  }
}
@media screen and (max-width: 550px) {
  .community__code {
    margin-top: 40px;
  }
}
.community__code-wrapper {
  font-family: 'SFMono';
  counter-reset: code-line;
}
.code-nested {
  padding-left: 20px;
  position: relative;
}
@media screen and (max-width: 750px) {
  .code-nested {
    padding-left: 10px;
  }
}
.code-nested:before {
  content: '';
  position: absolute;
  left: 3px;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: rgba(23, 23, 23, 0.3);
}
.code-value {
  color: #2C5EF6;
  font-weight: 600;
}
.code-line {
  position: relative;
  padding-left: 58px;
  font-size: 16px;
  line-height: 2;
}
@media screen and (max-width: 750px) {
  .code-line {
    font-size: 12px;
    padding-left: 28px;
  }
}
.code-line:before {
  position: absolute;
  left: 0;
  top: 0;
  counter-increment: code-line;
  content: counter(code-line);
  font-weight: normal;
  color: rgba(23, 23, 23, 0.3);
}
/* SUBSCRIBE */
/* =========== */
.subscribe {
  max-width: 676px;
}
@media screen and (max-width: 769px) {
  .subscribe {
    max-width: 100%;
  }
}
.subscribe__header {
  margin-bottom: 40px;
}
.subscribe__title {
  margin: 0;
}
.subscribe__form {
  display: grid;
  grid-template-columns: 1fr 193px;
  margin-bottom: 64px;
}
.form-submitted .subscribe__form {
  display: none;
}
@media screen and (max-width: 550px) {
  .subscribe__form {
    grid-template-columns: 1fr;
    max-width: 340px;
    margin: 0 0 40px;
  }
}
.subscribe__form-field {
  font-weight: 400;
  font-size: 18px;
  line-height: 56px;
  color: rgba(23, 23, 23, 0.5);
  padding: 20px 24px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  background-color: #F5F5F7;
  border: none;
  height: 56px;
  outline: none;
  transition: .3s ease-out;
  border: 1px solid transparent;
  border-right: none;
}
@media screen and (max-width: 550px) {
  .subscribe__form-field {
    border-radius: 6px;
    border-right: 1px solid transparent;
  }
}
.subscribe__form-field:focus,
.subscribe__form-field:hover {
  border-color: #2C5EF6;
  background-color: #fff;
}
.subscribe__form-submit {
  height: 56px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  background-color: #171717;
  font-weight: 500;
  font-size: 18px;
  line-height: 16px;
  color: #fff;
  padding: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: .3s ease-out;
}
@media screen and (max-width: 550px) {
  .subscribe__form-submit {
    border-radius: 6px;
    margin-top: 10px;
  }
}
.subscribe__form-submit:hover {
  background-color: #2C5EF6;
}
.subscribe__links {
  margin-top: 64px;
}
@media screen and (max-width: 550px) {
  .subscribe__links {
    margin-top: 40px;
  }
}
.subscribe__link {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.3;
  color: #171717;
  display: flex;
  align-items: center;
  transition: .3s ease-out;
}
@media screen and (max-width: 550px) {
  .subscribe__link {
    font-size: 18px;
  }
  .subscribe__link > svg:nth-child(1) { display: none; }
}
@media screen and (max-width: 374px) {
  .subscribe__link {
    font-size: 14px;
  }
}
.subscribe__link:hover {
  color: #2C5EF6;
}
.subscribe__link svg {
  width: 18px;
  margin-right: 16px;
}
@media screen and (max-width: 374px) {
  .subscribe__link svg {
    width: 15px;
  }
}
.subscribe__link-arrow-icon svg {
  margin-right: 0;
  transition: transform .3s ease-out;
  margin-left: 12px;
}
.subscribe__link:hover .subscribe__link-arrow-icon svg {
  transform: translateX(2px);
}
.subscribe__link:not(:last-child){
  margin-bottom: 24px;
}
/* GET-STARTED */
/* ================= */
.get-started {
  background-image: linear-gradient(144.85deg, #4170FF 0%, #2C5EF6 69.29%);
  border-radius: 20px;
  padding-top: 180px;
  padding-bottom: 180px;
  margin-bottom: 80px;
}
@media screen and (max-width: 950px) {
  .get-started {
    padding-top: 128px;
    padding-bottom: 128px;
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 550px) {
  .get-started {
    padding-top: 64px;
    padding-bottom: 64px;
    margin-bottom: 32px;
  }
}
@media screen and (max-width: 768px) {
  .get-started__container {
    padding: 0 64px;
  }
}
@media screen and (max-width: 550px) {
  .get-started__container {
    padding: 0 32px;
  }
}
.get-started__title {
  font-weight: 700;
  font-size: 74px;
  line-height: 68px;
  color: #fff;
  margin-bottom: 64px;
}
@media screen and (max-width: 550px) {
  .get-started__title {
    font-size: 56px;
    line-height: 1;
    margin-bottom: 40px;
    max-width: 201px;
  }
}
.get-started__wrapper {
  display: flex;
  align-items: center;
  max-width: 676px;
}
@media screen and (max-width: 950px) {
  .get-started__wrapper {
    flex-direction: column;
    align-items: flex-start;
  }
}
.get-started__field {
  display: flex;
}
@media screen and (max-width: 550px) {
  .get-started__field {
    flex-direction: column;
    align-items: flex-start;
  }
}
.get-started__field-text {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  background-color: #fff;
  font-family: 'SFMono';
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
  color: #171717;
  padding: 20px 24px;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 550px) {
  .get-started__field-text {
    border-radius: 6px;
    margin-bottom: 10px;
  }
}
.get-started__field-button {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-left: none;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  line-height: 16px;
  padding: 18px 18px 18px 17px;
  width: 125px;
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 550px) {
  .get-started__field-button {
    border-radius: 6px;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    display: inline-flex;
  }
}
.get-started__field-button svg:nth-child(1) {
  display: none;
  width: 18px;
}
.get-started__field-button.copied svg:nth-child(1) { display: block; }
.get-started__field-button.copied svg:nth-child(2) { display: none; }
.get-started__field-button svg {
  height: 18px;
  margin-right: 12px;
}
.get-started__include {
  margin-left: 44px;
}
@media screen and (max-width: 950px) {
  .get-started__include {
    margin-left: 0;
    margin-top: 40px;
  }
}
.get-started__include-title {
  font-weight: normal;
  font-size: 14px;
  line-height: 1;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 8px;
}
.get-started__include-script {
  font-family: 'SFMono';
  font-weight: 600;
  font-size: 12px;
  line-height: 1.2;
  color: #fff;
}
.get-started__access {
  margin-top: 64px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.3;
  color: #fff;
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  transition: .2s ease-out;
}
@media screen and (max-width: 550px) {
  .get-started__access {
    margin-top: 32px;
  }
}
.get-started__access-text--mobile {
  display: none;
}
@media screen and (max-width: 550px) {
  .get-started__access-text {
    display: none;
  }
  .get-started__access-text--mobile {
    display: inline;
  }
}
.get-started__access svg {
  transition: .3s ease-out;
  margin-left: 18px;
  height: 20px;
}
.get-started__access:hover {
  opacity: 0.85;
}

.get-started__access:hover svg {
  transform: translateX(2px);
}
/* DEPLOYMENT */
/* ================= */
.deployment {
  background-image: linear-gradient(304.92deg, #2A3860 35.94%, #394873 100%);
  border-radius: 20px;
  padding-top: 128px;
  padding-bottom: 128px;
  margin-bottom: 168px;
}
@media screen and (max-width: 768px) {
  .deployment {
    padding-top: 96px;
    padding-bottom: 96px;
    margin-bottom: 128px;
  }
}
@media screen and (max-width: 550px) {
  .deployment {
    padding-top: 64px;
    padding-bottom: 64px;
  }
}
@media screen and (max-width: 768px) {
  .deployment__container {
    padding: 0 64px;
  }
}
@media screen and (max-width: 550px) {
  .deployment__container {
    padding: 0 32px;
  }
}
.deployment__logo {
  width: 111px;
  margin-bottom: 32px;
}
.deployment__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  color: #fff;
  max-width: 550px;
  margin-bottom: 64px;
}
@media screen and (max-width: 550px) {
  .deployment__title {
    font-size: 28px;
    line-height: 38px;
    margin-bottom: 40px;
  }
}
.deployment__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
@media screen and (max-width: 768px) {
  .deployment__list {
    grid-template-columns: 1fr;
  }
}
.deployment__item {
  background: rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  padding: 32px;
}
@media screen and (max-width: 768px) {
  .deployment__item {
    display: flex;
  }
}
@media screen and (max-width: 550px) {
  .deployment__item {
    flex-direction: column;
  }
}
.deployment__item-icon {
  width: 64px;
  height: 64px;
  margin-bottom: 24px;
}
@media screen and (max-width: 768px) {
  .deployment__item-icon {
    margin-bottom: 24px;
    margin-right: 32px;
    flex: none;
  }
}
.deployment__item-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;
  color: #fff;
  margin-bottom: 8px;
}
.deployment__item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.37;
  color: rgba(255, 255, 255, 0.7);
}
.deployment__more {
  margin-top: 64px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.3;
  color: #fff;
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  transition: opacity .2s ease-out;
}
.deployment__more:hover {
  opacity: 0.85;
}
@media screen and (max-width: 550px) {
  .deployment__more {
    font-size: 20px;
    margin-top: 32px;
  }
}
.deployment__more svg {
  transition: .3s ease-out;
  margin-left: 18px;
  height: 20px;
}
.deployment__more:hover svg {
  transform: translateX(2px);
}
/* SIGN-UP */
/* ================= */
.sign-up {
  margin-bottom: 128px;
}
.sign-up__wrapper {
  max-width: 676px;
}
@media screen and (max-width: 768px) {
  .sign-up__wrapper {
    max-width: 100%;
  }
}
.sign-up__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  color: #171717;
  margin-bottom: 40px;
}
.sign-up__form {
  display: grid;
  grid-template-columns: 1fr 193px;
  margin-bottom: 64px;
}
.form-submitted .sign-up__form {
  display: none;
}
@media screen and (max-width: 550px) {
  .sign-up__form {
    grid-template-columns: 1fr;
    max-width: 340px;
    margin: 0 0 40px;
  }
}
.form-success-message {
  display: none;
  padding: 20px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 16px;
  color: #171717;
  background-color: #F5F5F7;
  border-radius: 6px;
  align-items: center;
}
.form-success-message b {
  margin-right: 4px;
}
.form-submitted .form-success-message {
  display: flex;
}
.form-success-message svg {
  width: 18px;
  margin-right: 10px;
}
.sign-up__form-field {
  font-weight: 400;
  font-size: 18px;
  line-height: 56px;
  color: rgba(23, 23, 23, 0.5);
  padding: 20px 24px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  background-color: #F5F5F7;
  height: 56px;
  transition: .3s ease-out;
  border: 1px solid transparent;
  border-right: none;
  outline: none;
}
@media screen and (max-width: 550px) {
  .sign-up__form-field {
    border-radius: 6px;
    border-right: 1px solid transparent;
  }
}
.sign-up__form-field:focus,
.sign-up__form-field:hover {
  border-color: #2C5EF6;
  background-color: #fff;
}
.sign-up__form-submit {
  height: 56px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  background-color: #171717;
  font-weight: 500;
  font-size: 18px;
  line-height: 16px;
  color: #fff;
  padding: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: .3s ease-out;
}
@media screen and (max-width: 550px) {
  .sign-up__form-submit {
    border-radius: 6px;
    margin-top: 10px;
  }
}
.sign-up__form-submit:hover {
  background-color: #2C5EF6;
}
